header{
    background-color: darkgray;
    height: 50px;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
   
}

#dream{
    justify-self: start;
    width: 150px;
    height: 50px;
}

#nav{
    justify-self: end;
  
}

section{
    
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

img{
    width: 50%;
}

#section2{
    background-color: darkblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}


    
#section2 img{
    width: 100%;
}